<div class="main">
   
    <b><p class="paragraph" style="text-align: center; align-items : center; color : green">{{productMsg}}</p>
    <table>
     
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Category</th>
        <th>Description</th>
        <th>Image</th>
        <th>Action</th>
        <th>ico</th>
        
      </tr>
      <tr *ngFor="let item of productList">
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.color}}</td>
        <td>{{item.category}}</td>
        <td>{{item.description}}</td>
        <td class="image-cell"><img src="{{item.image}}" alt="Product Image"></td>
        <td><button class="btn btn-primary" (click)="deleteProduct(item.id)" class="fa fa-trash" aria-hidden="true">Delete</button></td>
        <i class="fa fa-trash" aria-hidden="true"></i>
      </tr>
    
    </table>
</b>
</div>